@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter_18pt-Regular.ttf");
}
@import "tailwindcss";

@theme{
    
}


p,h1,h2,h3,h4,span,button,input,textarea,select{
    font-family: Inter;
}
.container{
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
a, input, button{
    cursor: pointer;
    transform: t;
}

